{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}

     <section id="blog" class="py-3">
        <div class="container">
          <div class="row">
              <div class="col">
                  <div class="card-columns">

                      {% for animal in animals_list %}

                          <div class="card">
                              <img src="{{animal.img_main}}" alt="" class="img-fluid card-im    g-top">
                              <div class="card-body">
                                <h4 class="card-title">{{animal.name}}</h4>
                                <hr>
                                  <small class="text-muted">{{animal.race}}</small>
                                  <p class="card-text">{{animal.sex}}</p>
                                  <p class="card-text">{{animal.sex}}</p>
                                  <p class="card-text">{{animal.weight}}</p>
                                  <a class="btn btn-outline-primary btn-block" href="/animals/{{ animal.id }}">Więcej szczegółów</a>
                              </div>
                            </div>

                        {% empty %}
                               Brak zwierząt do adpocji
                        {% endfor %}

                  </div>
              </div>
          </div>
        </div>
     </section>

{% endblock %}
